.buttonbox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

@media only screen and (max-width: 600px) {
    .buttonbox {
        height: auto;
    }
}